:root,
.rz-peregrine {
  --rz-white: #ffffff;
  --rz-black: #111111;
  --rz-base: #e1e6ea;
  --rz-base-50: #f7f9fa;
  --rz-base-100: #edf0f2;
  --rz-base-200: #e1e6ea;
  --rz-base-300: #c9d1d6;
  --rz-base-400: #99a1a8;
  --rz-base-500: #767e86;
  --rz-base-600: #565e66;
  --rz-base-700: #3c4248;
  --rz-base-800: #292d31;
  --rz-base-900: #1f2021;
  --rz-base-light: #edf0f2;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #565e66;
  --rz-base-darker: #1f2021;
  --rz-primary: #5272c1;
  --rz-primary-light: #758ecd;
  --rz-primary-lighter: rgba(82, 114, 193, 0.12);
  --rz-primary-dark: #455e9e;
  --rz-primary-darker: #3d5389;
  --rz-secondary: #70767b;
  --rz-secondary-light: #8c9195;
  --rz-secondary-lighter: rgba(112, 118, 123, 0.12);
  --rz-secondary-dark: #5d6166;
  --rz-secondary-darker: #515559;
  --rz-info: #5272c1;
  --rz-info-light: #758ecd;
  --rz-info-lighter: rgba(82, 114, 193, 0.2);
  --rz-info-dark: #455e9e;
  --rz-info-darker: #3d5389;
  --rz-success: #16855c;
  --rz-success-light: #449d7c;
  --rz-success-lighter: rgba(22, 133, 92, 0.16);
  --rz-success-dark: #156e4d;
  --rz-success-darker: #146044;
  --rz-warning: #9a6d12;
  --rz-warning-light: #ae8a41;
  --rz-warning-lighter: rgba(154, 109, 18, 0.2);
  --rz-warning-dark: #7f5a12;
  --rz-warning-darker: #6e4f12;
  --rz-danger: #c24e5f;
  --rz-danger-light: #ce717f;
  --rz-danger-lighter: rgba(194, 78, 95, 0.2);
  --rz-danger-dark: #9f424f;
  --rz-danger-darker: #8a3a46;
  --rz-on-base: #111111;
  --rz-on-base-light: #111111;
  --rz-on-base-lighter: #111111;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #ffffff;
  --rz-on-primary-light: #111111;
  --rz-on-primary-lighter: #111111;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #ffffff;
  --rz-on-secondary-light: #111111;
  --rz-on-secondary-lighter: #111111;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #ffffff;
  --rz-on-info-light: #111111;
  --rz-on-info-lighter: #111111;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #ffffff;
  --rz-on-success-light: #111111;
  --rz-on-success-lighter: #111111;
  --rz-on-success-dark: #ffffff;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #ffffff;
  --rz-on-warning-light: #111111;
  --rz-on-warning-lighter: #111111;
  --rz-on-warning-dark: #ffffff;
  --rz-on-warning-darker: #ffffff;
  --rz-on-danger: #ffffff;
  --rz-on-danger-light: #111111;
  --rz-on-danger-lighter: #111111;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
}
