:root,
.rz-peregrine {
  --rz-white: #ffffff;
  --rz-black: #111111;
  --rz-base: #eeeeee;
  --rz-base-50: #fafaf7;
  --rz-base-100: #f4f4f1;
  --rz-base-200: #eeeeee;
  --rz-base-300: #dcdbd7;
  --rz-base-400: #8a8984;
  --rz-base-500: #767570;
  --rz-base-600: #5a5955;
  --rz-base-700: #44433f;
  --rz-base-800: #2b2926;
  --rz-base-900: #111111;
  --rz-base-light: #f4f4f1;
  --rz-base-lighter: #fffef9;
  --rz-base-dark: #5a5955;
  --rz-base-darker: #111111;
  --rz-primary: #ba4801;
  --rz-primary-light: #c86d34;
  --rz-primary-lighter: rgba(186, 72, 1, 0.12);
  --rz-primary-dark: #9c3c00;
  --rz-primary-darker: #7a2f00;
  --rz-secondary: #264757;
  --rz-secondary-light: #516c79;
  --rz-secondary-lighter: rgba(38, 71, 87, 0.12);
  --rz-secondary-dark: #223c49;
  --rz-secondary-darker: #1f3641;
  --rz-info: #005e80;
  --rz-info-light: #337e99;
  --rz-info-lighter: rgba(0, 94, 128, 0.2);
  --rz-info-dark: #034f6a;
  --rz-info-darker: #05455c;
  --rz-success: #12704e;
  --rz-success-light: #418d71;
  --rz-success-lighter: rgba(18, 112, 78, 0.16);
  --rz-success-dark: #125d42;
  --rz-success-darker: #12523a;
  --rz-warning: #946811;
  --rz-warning-light: #e1ad47;
  --rz-warning-lighter: rgba(217, 153, 25, 0.2);
  --rz-warning-dark: #b17e17;
  --rz-warning-darker: #996d16;
  --rz-danger: #a1414f;
  --rz-danger-light: #b46772;
  --rz-danger-lighter: rgba(161, 65, 79, 0.2);
  --rz-danger-dark: #843743;
  --rz-danger-darker: #73323b;
  --rz-on-base: #111111;
  --rz-on-base-light: #111111;
  --rz-on-base-lighter: #111111;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #ffffff;
  --rz-on-primary-light: #111111;
  --rz-on-primary-lighter: #7a2f00;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #ffffff;
  --rz-on-secondary-light: #ffffff;
  --rz-on-secondary-lighter: #264757;
  --rz-on-secondary-dark: #ffffff;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #ffffff;
  --rz-on-info-light: #ffffff;
  --rz-on-info-lighter: #034f6a;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #ffffff;
  --rz-on-success-light: #111111;
  --rz-on-success-lighter: #12523a;
  --rz-on-success-dark: #ffffff;
  --rz-on-success-darker: #ffffff;
  --rz-on-warning: #ffffff;
  --rz-on-warning-light: #111111;
  --rz-on-warning-lighter: #7f5c15;
  --rz-on-warning-dark: #111111;
  --rz-on-warning-darker: #ffffff;
  --rz-on-danger: #ffffff;
  --rz-on-danger-light: #111111;
  --rz-on-danger-lighter: #73323b;
  --rz-on-danger-dark: #ffffff;
  --rz-on-danger-darker: #ffffff;
}
