:root,
.rz-peregrine-dark {
  --rz-white: #ffffff;
  --rz-black: #111111;
  --rz-base: #264757;
  --rz-base-50: #fffef9;
  --rz-base-100: #e2efff;
  --rz-base-200: #9dc9da;
  --rz-base-300: #80a9ba;
  --rz-base-400: #264757;
  --rz-base-500: #244352;
  --rz-base-600: #213d4b;
  --rz-base-700: #1e3744;
  --rz-base-800: #1c3340;
  --rz-base-900: #172935;
  --rz-base-light: #e2efff;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #1e3744;
  --rz-base-darker: #0f1b22;
  --rz-primary: #ff7621;
  --rz-primary-light: #ff8941;
  --rz-primary-lighter: rgba(255, 118, 33, 0.16);
  --rz-primary-dark: #ba4801;
  --rz-primary-darker: #9c3c00;
  --rz-secondary: #9dc9da;
  --rz-secondary-light: #b1d4e1;
  --rz-secondary-lighter: rgba(157, 201, 218, 0.12);
  --rz-secondary-dark: #81a4b2;
  --rz-secondary-darker: #708e9a;
  --rz-info: #66adc6;
  --rz-info-light: #85bdd1;
  --rz-info-lighter: rgba(102, 173, 198, 0.2);
  --rz-info-dark: #558ea2;
  --rz-info-darker: #4b7b8c;
  --rz-success: #27c291;
  --rz-success-light: #52cea7;
  --rz-success-lighter: rgba(39, 194, 145, 0.16);
  --rz-success-dark: #239f77;
  --rz-success-darker: #24946f;
  --rz-warning: #e9b724;
  --rz-warning-light: #edc550;
  --rz-warning-lighter: rgba(233, 183, 36, 0.2);
  --rz-warning-dark: #be9620;
  --rz-warning-darker: #a4821e;
  --rz-danger: #f57c93;
  --rz-danger-light: #f796a9;
  --rz-danger-lighter: rgba(245, 124, 147, 0.2);
  --rz-danger-dark: #c76779;
  --rz-danger-darker: #ac5a69;
  --rz-on-base: #ffffff;
  --rz-on-base-light: #172935;
  --rz-on-base-lighter: #172935;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #111111;
  --rz-on-primary-light: #111111;
  --rz-on-primary-lighter: #ffffff;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #172935;
  --rz-on-secondary-light: #172935;
  --rz-on-secondary-lighter: #9dc9da;
  --rz-on-secondary-dark: #111111;
  --rz-on-secondary-darker: #111111;
  --rz-on-info: #111111;
  --rz-on-info-light: #111111;
  --rz-on-info-lighter: #e2efff;
  --rz-on-info-dark: #111111;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #111111;
  --rz-on-success-light: #111111;
  --rz-on-success-lighter: #52cea7;
  --rz-on-success-dark: #111111;
  --rz-on-success-darker: #111111;
  --rz-on-warning: #111111;
  --rz-on-warning-light: #111111;
  --rz-on-warning-lighter: #e9b724;
  --rz-on-warning-dark: #111111;
  --rz-on-warning-darker: #111111;
  --rz-on-danger: #111111;
  --rz-on-danger-light: #111111;
  --rz-on-danger-lighter: #f796a9;
  --rz-on-danger-dark: #111111;
  --rz-on-danger-darker: #ffffff;
}
