:root,
.rz-peregrine-dark {
  --rz-white: #ffffff;
  --rz-black: #111111;
  --rz-base: #4a5054;
  --rz-base-50: #ffffff;
  --rz-base-100: #d5d8db;
  --rz-base-200: #a7adb3;
  --rz-base-300: #6b7177;
  --rz-base-400: #4a5054;
  --rz-base-500: #3a3e42;
  --rz-base-600: #36393c;
  --rz-base-700: #2a2c2e;
  --rz-base-800: #1f2021;
  --rz-base-900: #1a1b1c;
  --rz-base-light: #d5d8db;
  --rz-base-lighter: #ffffff;
  --rz-base-dark: #1f2021;
  --rz-base-darker: #141516;
  --rz-primary: #678ef1;
  --rz-primary-light: #85a5f4;
  --rz-primary-lighter: rgba(103, 142, 241, 0.16);
  --rz-primary-dark: #526fb9;
  --rz-primary-darker: #4b66a9;
  --rz-secondary: #99a1a8;
  --rz-secondary-light: #adb4b9;
  --rz-secondary-lighter: rgba(153, 161, 168, 0.12);
  --rz-secondary-dark: #7e848a;
  --rz-secondary-darker: #6d7378;
  --rz-info: #678ef1;
  --rz-info-light: #85a5f4;
  --rz-info-lighter: rgba(103, 142, 241, 0.2);
  --rz-info-dark: #526fb9;
  --rz-info-darker: #4b66a9;
  --rz-success: #27c291;
  --rz-success-light: #52cea7;
  --rz-success-lighter: rgba(39, 194, 145, 0.16);
  --rz-success-dark: #239f77;
  --rz-success-darker: #2d9071;
  --rz-warning: #e9b724;
  --rz-warning-light: #edc550;
  --rz-warning-lighter: rgba(233, 183, 36, 0.2);
  --rz-warning-dark: #be9620;
  --rz-warning-darker: #a4821e;
  --rz-danger: #f57c93;
  --rz-danger-light: #f796a9;
  --rz-danger-lighter: rgba(245, 124, 147, 0.2);
  --rz-danger-dark: #c76779;
  --rz-danger-darker: #ac5a69;
  --rz-on-base: #ffffff;
  --rz-on-base-light: #111111;
  --rz-on-base-lighter: #111111;
  --rz-on-base-dark: #ffffff;
  --rz-on-base-darker: #ffffff;
  --rz-on-primary: #111111;
  --rz-on-primary-light: #111111;
  --rz-on-primary-lighter: #ffffff;
  --rz-on-primary-dark: #ffffff;
  --rz-on-primary-darker: #ffffff;
  --rz-on-secondary: #111111;
  --rz-on-secondary-light: #111111;
  --rz-on-secondary-lighter: #99a1a8;
  --rz-on-secondary-dark: #111111;
  --rz-on-secondary-darker: #ffffff;
  --rz-on-info: #111111;
  --rz-on-info-light: #111111;
  --rz-on-info-lighter: #ffffff;
  --rz-on-info-dark: #ffffff;
  --rz-on-info-darker: #ffffff;
  --rz-on-success: #111111;
  --rz-on-success-light: #111111;
  --rz-on-success-lighter: #27c291;
  --rz-on-success-dark: #111111;
  --rz-on-success-darker: #111111;
  --rz-on-warning: #111111;
  --rz-on-warning-light: #111111;
  --rz-on-warning-lighter: #e9b724;
  --rz-on-warning-dark: #111111;
  --rz-on-warning-darker: #111111;
  --rz-on-danger: #111111;
  --rz-on-danger-light: #111111;
  --rz-on-danger-lighter: #f57c93;
  --rz-on-danger-dark: #111111;
  --rz-on-danger-darker: #ffffff;
}
